.qmake.stash
Makefile
*.o
*.user
*.user.*
libsimExtRemoteApi.1.0.0.dylib
libsimExtRemoteApi.1.0.dylib
libsimExtRemoteApi.1.dylib
libsimExtRemoteApi.dylib
libsimExtRemoteApi.so
libsimExtRemoteApi.so.1
libsimExtRemoteApi.so.1.0
libsimExtRemoteApi.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
